
Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.cache
*.props
*.targets
/.vs/Payment.Gateway
/.vs/Payment.Gateway
/Service/bin
/Service/obj
/Domain/obj
/Domain/bin
Data/bin/
Data/obj/
Service.Test/bin/
Service.Test/obj/
WebApi.Integration.Test/bin/
WebApi.Integration.Test/obj/
WebApi.Test/bin/
WebApi.Test/obj/
WebApi/bin/
WebApi/obj/
AcquiringBank.Fake/bin/
AcquiringBank.Fake/obj/
/.idea/.idea.Payment.Gateway
/Domain.Test/obj
/Domain.Test/bin/
.vs/API/v16/.suo
*.config
*.v2
